html, body {margin: 0; padding: 0; height: 100%; width: 100%; text-align: center; overflow-x: hidden;}
hr {width: 90px; height: 3px; background: #63d2d2; border: 0; margin: 20px auto 40px auto;}
h1, h2, h3 {
    margin: 0 auto 0 auto;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    margin-top: 130px;
}
#section_header_1 {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.cta_but {
    position: relative;
    margin: auto;
    text-transform: uppercase;
}

.pix_nav_logo {
    padding-top: 0;
}
.pix_builder_bg {
    padding-bottom: 273.75px
}
.img_width {
    position: relative;
    z-index: 1;
}
.img_selene {
    position: absolute;
    width: 80%;
    height: auto;
    padding-top: 0;
    top: 70px;
	left: -20vw;
	z-index: 0;
}
#pitch {
    margin: auto;
}
#section_Landing {
    background-position: center center;
    width: 100%;
    height: 100%;
}
#section_about_trailer {
    background-size: 100%;
    
}
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.vid_trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title_st {
    padding-top: 50px;
}
.txt_st {
    padding-top: 50px;
}

.f_list {
    color: #D09BD0;
    margin: 0 auto 0 auto; 
}
.f_list li {
   padding-top: 20px;
   list-style-type: disc;
}
.gtext_styleA {
    position: relative;
    display: inline-block;
    padding-top: 70px;
    padding-left: 20px;
}
#myCarousel {
    padding-top: 50px;
}

@media screen and (max-width: 960px) {
    .img_selene {
        padding-top: 89px;
    }
    .img_style {
        margin-left: -40px;
    }
    .gtext_styleA {
        padding-left: 60px;
    }
    .gtext_style {
        margin-left: -40px;
    }
}
@media screen and (max-width: 768px) {
    .img_selene {
        width: 100%;
        padding-top: 236px;
    }
    .img_width {
        padding-top: 20px;
    }
    .gtext_styleA {
        padding-left: 0;
    }
    .pixfort_normal_1 .gtext_style {
        margin-left: 0;
        width: 100%;
    }
    .padding_bottom_60 {
        padding-bottom: 0;   
    }
    .pixfort_party_15 .text_page {
        padding-bottom: 0;
    }
    .cta_but {
        padding-bottom: 90px;
    }
    #myCarousel {
        width: 150%;
        margin-left: -105px;
        margin-bottom: -150px;
    }
}
@media screen and (max-width: 480px) {
    .container {
        width: 374px;
    }
    .img_selene {
        left: -13vw;
    }
    .img_width {
        padding-left: 36px;
    }
    .img_style {
        margin-left: 30px;
    }
    .gtext_styleA {
        padding-left: 20%;
    }
    .gtext_style {
        margin-left: 20%;
        width: 80%;
    }
    #pitch {
        margin-left: 10%;
    }
    #myCarousel {
        width: 140%;
        margin-left: -34px;
    }
}             